iplover-services/src/main/resources/liquibase/liquibase.properties
**/target
nb-configuration.xml
.DS_Store
iplover-app/platforms
/nbproject/private/
iplover-services/src/main/resources/liquibase/liquibase.properties.example
