<?xml version='1.0' encoding='utf-8'?>
<widget id="gov.usgs.cida.iplover" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iPlover</name>
    <description>
        A iPlover nesting collection application
    </description>
    <author email="lwinslow@usgs.gov" href="http://cida.usgs.gov">
        Luke Winslow [dev], USGS [org]
    </author>
    <icon src="www/img/ios7/apple-touch-icon-152x152.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#2A2A2A" />
    
    <preference name="SplashScreen" value="www/img/iplover_splash.png" />
    <preference name="SplashScreenDelay" value="3000" />
    
    <preference name="FadeSplashScreen" value="true" />
	<preference name="fade-splash-screen-duration" value="5" />
	<preference name="auto-hide-splash-screen" value="false" />
	<preference name="AutoHideSplashScreen" value="false" />
</widget>
