<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
    <typeAliases>
        
    </typeAliases>
    
    <environments default='container'>
        <environment id='container'>
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/env/jdbc/postgres"/>
            </dataSource>
        </environment>
    </environments>
    
      <mappers>
            <mapper resource="gov/usgs/cida/mybatis/mappers/Records.xml"/>
      </mappers>
</configuration>